</div> 
<!-- This is the footer so i could add a copy right alert -->
<footer class="py-3 text-light" style="background:#212529;">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Left -->
            <span>© All Rights Reserved 2025</span>
            <!-- Center -->
            <span class="fw-bold">Car Maintenance Log</span>
            <!-- Right -->
            <span>Ghayas Sher</span>
        </div>
    </div>
</footer>
</body>
</html>

