<%- include("partials/header") %>
<!-- this is the home page. Welcoming the user. -->
<div class="d-flex justify-content-center align-items-center" style="height:70vh;">
    <div class="text-center">
        <h1 class="mb-3">Welcome to the Car Maintenance Log</h1>
        <p class="text-muted mb-4">Track your vehicle services easily & stay organized.</p>
<!-- adding buttons to view records( Maintenance list or add a new service done). -->
        <a href="/services" class="btn btn-primary me-2">View My Records</a>
        <a href="/add" class="btn btn-success">Add New Service</a>
    </div>
</div>





<%- include("partials/footer") %>

